<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Application</title>
</head>
<body>
<h1 th:text="'Main Index'">This is the main index page for the Recipe application</h1>

<table id="recipes" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10px;">Id</th>
            <th style="width: 300px;">Description</th>
            <th style="width: 10px;">Prep Time</th>
            <th style="width: 10px;">Cook Time</th>
            <th style="width: 150px;">Ingredients</th>
            <th style="width: 150px;">Notes</th>
            <th style="width: 10px;">Servings</th>
            <th style="width: 50px;">URL</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="recipe :  ${recipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.description}"></td>
            <td th:text="${recipe.prepTime}"></td>
            <td th:text="${recipe.cookTime}"></td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Unit Of Measure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingredient : ${recipe.ingredients}">
                            <td th:text="${ingredient.description}"></td>
                            <td th:text="${ingredient.amount}"></td>
                            <td th:text="${ingredient.uom.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td th:text="${recipe.notes.recipeNotes}"></td>
            <td th:text="${recipe.servings}"></td>
            <td th:text="${recipe.url}"></td>
            <td>
                <a th:href="${recipe.url}" th:text="'Recipe Link'"></a>
            </td>
            <td>
                <div class="col-md-12">
                    <img class="img-responsive" src="/source" th:src="${recipe.notes}"/>
                </div>
            </td>
        </tr>
    </tbody>
</table>


</body>
</html>