<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Application</title>
</head>
<body>
<h1 th:text="'Main Index'">This is the main index page for the Recipe application</h1>
<h2 th:text="'Category : ' + ${categoryDescription.get().getDescription()}"></h2>
<h2 th:text="'Unit Of Measure : ' + ${uomDescription.get().getDescription()}"></h2>
<tr th:each="recipe :  ${recipes}">
    <td th:text="${recipe}"></td>
</tr>


</body>
</html>